body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    color: #254A9F;
    text-shadow: 0 1px 10px rgba(0,0,0,.5), 0 0 30px rgba(0,0,0,.1);
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 3rem;
    color: #254A9F;
}

h3 {
    font-size: 2.5rem;
    color: #254A9F;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

.brand-jumbotron {
    text-align: center;
}

.jumbotron .container header > h2 {
    text-shadow: 0px 0px 1px;
}

.fb-post {
    margin-top: 15px;
    margin-bottom: 15px;
}
